/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


@import "sn-stylekit/dist/stylekit.css";

.notification {
  margin-top: 0.5rem !important;
}

a:hover {
  text-decoration: none !important;
}

.select-all {
  user-select: all;
}

#activation-code {
  user-select: text !important;
  resize: none;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 10px;
  display: contents;

  text-align: center;
  margin: 10px;

  outline: 0;
  overflow: scroll;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
