.sk-panel-section
  .sk-panel-row
    .sk-panel-column
      Your #{@integration_name || "integration"} is complete.
      Copy the code below, and return to <strong>Standard Notes</strong> to paste the code into the FileSafe extension.
  .sk-panel-row
  %h2.title.sk-panel-row Integration Code
  .sk-notification.info.dashed
    #activation-code.center-text.select-all.wrap.info-contrast
      #{@code}
  #activation-code-button.sk-button.info
    .sk-label Copy Code
