.panel-section
  .button-group
    %a.button.info{"href" => "#{@dropbox_link}", "target" => "_blank"}
      .label Dropbox

    %a.button.success{"href" => "#{@google_drive_link}", "target" => "_blank"}
      .label Google Drive

    %a.button.warning{"href" => "#{@webdav_link}"}
      .label WebDAV
