.sk-panel-section
  .sk-button-group
    %a.sk-button.info{"href" => "#{@dropbox_link}", "target" => "_blank"}
      .sk-label Dropbox

    %a.sk-button.success{"href" => "#{@google_drive_link}", "target" => "_blank"}
      .sk-label Google Drive

    %a.sk-button.warning{"href" => "#{@webdav_link}"}
      .sk-label WebDAV
