name: PR

on:
  pull_request:
    branches: [ develop ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
    - name: Copy default configuration
      run: cp .env.sample .env
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rspec
