<!DOCTYPE html>
<html>
  <head>
    <title>FileSafe Integrations</title>
    <!-- Disable translating for this page in Chrome, so that <font> tags are not added to key area -->
    <meta name="google" content="notranslate" />
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="sn-component">
    <div class="sk-panel">
      <div class="sk-panel-header">
        <h2 class="sk-panel-header-title">Link Integrations</h2>
      </div>

      <div class="sk-panel-content selectable">
        <%= yield %>
      </div>

      <div class="sk-panel-footer">
        <div class="right">
          <a class="info" href="https://standardnotes.org/help" target="_blank">Help</a>
      </div>
    </div>
  </body>
</html>
