<!DOCTYPE html>
<html>
  <head>
    <title>FileSafe Integrations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="sn-component">
    <div class="panel">
      <div class="header">
        <h2 class="title">Link Integrations</h2>
      </div>

      <div class="content selectable">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
